:root.theme-dark {
  --rec-display: inline;
  --cover-path: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --title-color: #DB00FF;
  --title-bg-color: #FF0070;
  --button-text-color: #FF0070;
  --active-color: 255, 0, 112;
  --title-text-color: #000028;
  --h2-color: #FF0070;
  --h3-color: #000028;
  --h4-color: #000028;
  --article-text-color: #F1B2CE;
  --accent-color: #FF0070;
}

.rec {
  display: var(--rec-display);
  position: absolute;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
  color: #FF0070;
}

.rec::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 36px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #FF0070;
  box-shadow:
    0 0 5px rgba(255, 0, 112, 0.8),
    0 0 9px rgba(255, 0, 112, 0.9);
}