:root.theme-light {
  --rec-display: none;
  --cover-path: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --title-bg-color: #FF8DCB;
  --button-text-color: #353430;
  --active-color: 53, 52, 48;
  --title-text-color: #353430;
  --section-title-color: #353430;
  --article-title-color: #353430;
  --article-text-color: #353430;
  --accent-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {
  :root {
  --rec-display: none;
  --cover-path: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --title-bg-color: #FF8DCB;
  --button-text-color: #353430;
  --active-color: 53, 52, 48;
  --title-text-color: #353430;
  --section-title-color: #353430;
  --article-title-color: #353430;
  --article-text-color: #353430;
  --accent-color: #ff8dcb;
  }
}
